LOCAL_LLM_BASE_URL=http://127.0.0.1:6996/v1
LOCAL_LLM_MODEL=qwen3.8-27b|IQ3_XXS|10934860704
LOCAL_LLM_API_KEY=
LOCAL_LLM_CONTEXT_LIMIT=51712
LOCAL_LLM_MAX_OUTPUT=4096
LOCAL_LLM_TIMEOUT=180
LOCAL_LLM_REASONING_EFFORT=off
